---
// SignIn.astro
import { getSession } from "auth-astro/server";
import { Button, Dropdown, Menu, MenuButton, MenuItem } from "@mui/joy";
import { LogInIcon, LogOutIcon, UserRound } from "lucide-react";
const session = await getSession(Astro.request);
export const prerender = false
---

{
    session?.user ? (
        <Dropdown>
            <MenuButton variant="plain">
                <UserRound />
            </MenuButton>
            <Menu>
                <MenuItem id="logout">
                    <LogOutIcon />
                </MenuItem>
            </Menu>
        </Dropdown>
    ) : (
        <Button id="login" variant="plain">
            <LogInIcon />
        </Button>
    )
}

<script>
    const { signIn, signOut } = await import("auth-astro/client");
    document.querySelectorAll("button").forEach((button) => {
        button.addEventListener("click", (event: Event) => {
            if (event?.currentTarget?.id === "login") {
                signIn("github");
            } else if (event?.currentTarget?.id === "logout") {
                signOut();
            }
        });
    });
</script>
