---
import "../styles/tailwind.css";
import BaseLayout from "../components/Layout.astro";

interface Props {
    containerClassName?: string;
    headerClass?: string;
    showDivider?: boolean;
}

const { containerClassName, headerClass, showDivider } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>annilq</title>
    </head>
    <body
        class="h-full text-foreground bg-background transition-all text-sm markdown-body"
    >
        <BaseLayout
            containerClassName={containerClassName}
            headerClass={headerClass}
            showDivider={showDivider}
        >
            <slot />
        </BaseLayout>
    </body>
</html>
